    @charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: antiquewhite;
    text-align: center;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 15px #004b4867;
}

h1 {
    text-align: center;
    color: #3d1600;
    text-shadow: 2px 1px 1px;
}

h2 {

    color:#FF6B1A
}

p {text-align: justify;
}

body {
    background-image: linear-gradient(to right, #C47D79,#ffffff);
}